@import "../components/vars";

.hero {
  min-height: 100vh;
  display: flex;
  padding-bottom: 2rem;
  position: relative;
  background: linear-gradient(to bottom, var(--orange) 50%, transparent 90%);
}
.title {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  font-family: var(--haas-display);
  opacity: 0.9;
  color: rgb(4, 15, 11);
  mix-blend-mode: multiply;
}

.title-main {
  display: block;
  font-weight: 900;
  word-spacing: -0.01em;
  letter-spacing: -0.034em;
  margin-top: -0.085em;
  //   margin-left: -0.1em;
  font-size: 40vw;
  text-align: center;
  line-height: 0.74;
  padding-top: 0.15em;
  @include bp(s) {
    white-space: nowrap;
    font-size: 22vw;
  }
  .e {
    margin-left: -0.006em;
  }
  .w {
    margin-left: -0.03em;
  }
  .o {
    margin-left: -0.072em;
  }
}

.title-secondary {
  letter-spacing: -0.045em;
  font-weight: 100;
  white-space: nowrap;
  font-size: 18vw;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  @include bp(l) {
    order: 3;
  }
}

.tagline {
  font-family: var(--suisse);
  line-height: 1.1;
  padding-left: 0em;
  letter-spacing: -0.05em;
  display: flex;
  flex-flow: column;
  text-align: center;
  order: 2;
  height: 12vh;
  max-width: 14em;
  justify-content: center;
  font-size: var(--ms-4);
  font-weight: 400;
  padding: 0 var(--padding);
  @include bp(l) {
    max-width: 14em;
    font-weight: 400;
    height: auto;
    font-size: var(--ms-3);
    margin-left: -0.1em;
    line-height: 1;
    padding-top: 0.5em;
    order: 1;
    align-self: flex-start;
    text-align: left;
  }
}

.face {
  position: absolute !important;
  left: 50%;
  // display: none;
  top: 50%;
  height: 70vh;
  width: 100%;
  filter: drop-shadow(30px 40px 7px var(--shadow));
  pointer-events: none;
  z-index: 100;
  transform: translateX(-50%) translateY(-50%);
  @include bp(m) {
    transform: translateX(-50%) translateY(-55%);
    height: 65vh;
  }
  @include bp(l) {
    transform: translateX(-50%) translateY(-50%);
    height: 75vh;
  }
}

.content {
  padding: var(--padding);
}

.posts {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style: none;
  border-radius: 10px;
  border: 1px solid var(--gray);
  overflow: hidden;
  li {
    list-style: none;
    display: flex;
    border-bottom: 1px solid var(--gray);
    grid-column: span 2;
    @include bp(m) {
      grid-column: span 1;
      border-right: 1px solid var(--gray);
    }
    &:nth-of-type(2n) {
      border-right: 0;
    }
    &:nth-last-of-type(1) {
      grid-column: span 2;
      border-bottom: 0;
      border-right: 0;
    }
  }
}

.posts-item {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  &:hover,
  &:focus-visible {
    background-color: var(--gray-light);
  }
}

.posts-title {
  font-family: var(--haas-display);
  font-weight: 700;
  font-size: var(--ms-4);
  line-height: 1;
  letter-spacing: -0.01em;
  text-align: center;
  display: inline-block;
}

.sticker {
  display: block;
  position: absolute;
  right: 5%;
  transform: rotate(30deg);
  background: rgb(12, 255, 81);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 5px solid white;
  box-shadow: 2px 1px 1px rgba(black, 0.2);
  top: 28%;
  width: 7rem;
  height: 7rem;
  padding: 0.5rem;
  @include bp(m) {
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    top: 50%;
  }
}
