@import "vars";
.item {
  max-width: 35rem;
  text-align: left;
  border-bottom: 1px dotted var(--black);
  list-style: none;
  padding: .75rem;
  padding-right: 3.5rem;
  position: relative;
  @include bp(m) {
    padding: 0.5rem 0.75rem;
    padding-right: 3.5rem;
  }
  &:hover, &:focus-visible {
    background: var(--gray-light);
  }
}

.title {
  display: block;
  letter-spacing: -0.025em;
  line-height: 0.95;
  margin-bottom: 0.2rem;
  font-size: var(--ms-3);
  font-weight: 700;
  @include bp(m) {
    font-weight: 800;
  }
}

.authors {
  @extend %caption;
}

.remove {
  position: absolute;
  right: 0.75rem;
  top: 0.65rem;
  font-size: 0;
  cursor: pointer;
  svg {
    width: 1.25rem;
  }
  path {
    fill: var(--gray);
  }
  &:hover,
  &:focus-visible {
    path {
      fill: var(--black);
    }
  }
}

.actions {
  padding: 0.5rem;
  display: flex;
  a {
    border: 1px solid var(--black);
    display: inline-flex;
    padding: 0.2em 0.4em;
    padding-bottom: 0.3em;
    letter-spacing: 0em;
    line-height: 1;
    border-radius: var(--br);
    &:hover,
    &:focus-visible {
      background-color: var(--gray-light);
    }
  }
}
