@import "vars";
.container {
  display: inline-flex;
  font-family: var(--haas-text);
  padding: 0 0.4em;
  height: 1.8em;
  letter-spacing: 0;
  line-height: 1;
  cursor: pointer;
  align-items: center;
  font-size: var(--ms-0);
  border-radius: var(--br);
  background: var(--gray-light);
  border: 1px solid var(--gray-light);
  box-shadow: 0 2px 2px 0px rgba(black, 0.05);
  gap: 0.25rem;
  font-weight: 600;
  align-items: center;
  &:hover,
  &:focus-visible {
    border-color: var(--black);
  }
  svg {
    height: 1.2em;
    position: relative;
    top: 0.05em;
  }
}

.primary {
  background: var(--black);
  border: 1px solid var(--black);
  color: white;
}

.icon {
  padding: 0.35em;
  span {
    font-size: 0;
    position: absolute;
  }
}
