@import "vars";
.container {
    background-color: var(--black);
    color: white;
    border-radius: 1000px;
    font-feature-settings: "tnum" 1;
    min-width: 1.4em;
    line-height: 1;
    padding: .1em;
    font-weight: 500;
    font-size: .8em;
    position: relative;
    top: .1em;
    padding-bottom: .2em;
    display: inline-block;
}