@import "vars";

.toggle {
  display: flex;
}

.container {
  text-align: left;
  padding: 0.2rem;
  display: none;
  &.active {
    display: block;
  }
}

.feedback {
  background: var(--lightgray);
  border-radius: var(--br);
  padding: 0.75rem 1rem;
  font-size: var(--ms-0);
  p {
    opacity: 0.85;
  }
}

.success {
  background: rgb(208, 248, 190);
}
.error {
  background: rgb(248, 237, 190);
}

.section {
  margin-bottom: 0.85rem;
  label {
    @extend %caption;
    display: block;
    margin-bottom: 0.5rem;
  }
  input,
  textarea {
    width: 100%;
    display: block;
    font-family: inherit;
    border-radius: var(--br);
    padding: 0.2em 0.5em;
    padding-bottom: 0.3em;
    line-height: 1;
    border: 1px solid var(--gray);
    background: white;
    &:hover {
      border: 1px solid var(--black);
    }
  }
  textarea {
    padding: 0.5em;
    resize: vertical;
  }
}

.actions {
  padding-top: 0.35rem;
  font-weight: bold;
  display: flex;
  gap: 0.5rem;
}
