@import "vars";
.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.consent {
  background: var(--gray-light);
  border-radius: var(--br);
  padding: 1.25em;
}

.iframe-container {
  width: 100%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.controls {
  display: flex;
  align-items: baseline;
  font-family: var(--haas-text);
  flex-flow: column;
  gap: 0.5em;
  @include bp(m) {
    gap: 1em;
    flex-flow: row;
  }
  label {
    display: flex;
    align-items: center;
    gap: 0.25em;
    position: relative;
    top: 0.1em;
    cursor: pointer;
  }
  input {
    display: inline-block;
    margin-left: 0.2rem;
    @include bp(m) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.button {
  background: black;
  color: white;
  font-weight: 100;
  padding: 0.1rem 0.75rem;
  padding-bottom: 0.35rem;
  display: inline-flex;
  margin-top: 1rem;
  border-radius: var(--br);
  cursor: pointer;
  &:hover,
  &:focus-visible {
    background: rgb(33, 33, 33);
  }
}

.caption {
  @extend %caption;
  padding-top: 0.5rem;
}
