@import "vars";

.container {
  font-family: var(--haas-text);
  line-height: 1;
  text-align: center;
  transition: var(--fast);
  padding-bottom: 0.2rem;
  font-size: var(--ms-1);
  border-bottom: 1px solid currentColor;
  @include bp(m){
    border-bottom: 2px solid currentColor;
    font-size: var(--ms-0);
  }
  &:hover,
  &:focus-visible {
    background: rgba(white, 0.5);
  }
}

.face {
  display: none;
}

.top {
  letter-spacing: -.02em;
  font-weight: 600;
  font-size: inherit;
}
