@import "vars";

.container {
  font-family: var(--haas-text);
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
  padding: 0.3rem .5rem;
  padding-bottom: 0.4rem;
  transition: var(--fast);
  border-radius: var(--br);
  border: 1px solid black;
  &:hover,
  &:focus-visible {
    background: rgba(white, 0.5);
  }
}

.face {
  display: none;
}

.top {
  font-weight: 500;
}
