@import "vars.scss";

.container {
  margin-top: 2rem;
}

.next {
  display: block;
  border: 1px solid var(--gray);
  padding: 1rem;
  border-radius: var(--br);
  text-decoration: none !important;
  margin-bottom: 0.5rem;
  .label {
    @extend %caption;
    display: block;
    margin-bottom: 0.35rem;
  }
  &:hover,
  &:focus-visible {
    .next-title {
      text-decoration: underline;
    }
  }
}

.next-title {
  @extend %h2;
  display: block;
}

.next-intro {
  margin-top: 0.3rem;
}

.previous {
  @extend %caption;
}
