@import "vars";

.nav {
  position: fixed;
  padding: 0.75em var(--padding);
  left: 0;
  right: 0;
  font-family: var(--haas-text);
  font-weight: 800;
  z-index: 1000;
  text-align: center;
  transition: var(--fast);
}

.nav-stuck {
  background: white;
  .nav-title, .nav-progress {
    opacity: 1;
    transform: translateY(0);
  }
  .nav-home {
    opacity: 0;
    transform: translateY(-30%);
  }
}

.nav-home {
  display: block;
  transition: var(--fast);
  transform: translateY(0);
}

.nav-title {
  position: absolute;
  pointer-events: none;
  left: var(--padding);
  right: var(--padding);
  top: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: var(--fast);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(30%);
}

.nav-progress {
  background: rgb(255, 255, 255);
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  transition: var(--fast);
}
.nav-progress-inner {
  background: black;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, var(--color) 40%, transparent 60%);

  @include bp(m) {
    align-items: center;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    background: linear-gradient(to bottom, var(--color) 50%, transparent 60%);
  }
}

.header-image {
  @include bp(m) {
    position: relative;
    margin-bottom: 2em;
    img {
      max-height: 60vh;
      border: 1px solid white;
      border-radius: var(--br);
      width: auto;
    }
  }
}

.hero-credit {
  @extend %caption;
  font-size: var(--ms--2);
  color: var(--gray);
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
  transform: rotate(90deg) translateY(-0.2em);
}

.header-placeholder {
  flex-grow: 1;
}

.header-copy {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  justify-content: space-between;
  padding: var(--padding);
}

.header-meta {
  @extend %caption;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: var(--padding);

  @include bp(m) {
    order: 3;
    max-width: 55rem;
    padding: 0;
  }
}

.bylines {
  list-style: none;
  display: flex;
  text-align: left;
}

.byline-name {
  @extend %caption-caps;
}

.byline-image {
  position: absolute;
  z-index: 500;
  width: 6rem;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%) translateY(-40%);
  filter: grayscale(1) drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6));

  @include bp(m) {
    left: 30%;
    top: 60%;
  }
}

.byline-institution {
  display: block;
  color: var(--gray);
}

.title {
  font-family: var(--haas-display);
  font-weight: 800;
  font-size: var(--ms-7);
  line-height: 0.85;
  letter-spacing: -0.015em;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 20em;
  margin: 0 auto;

  @include bp(m) {
    font-size: var(--ms-6);
  }
}

.intro {
  @extend %copy-large;
  padding-top: 1em;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 35em;
  margin: 0 auto;

  @include bp(m) {
  }
}

.body {
  @extend %copy;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 55rem) 1fr;
  padding: var(--padding);
  @include bp(m) {
    padding-top: 0;
  }

  * {
    grid-column: 2/3;
  }
}
