@import "vars";

.container {
  @extend %caption;
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  align-items: center;
}

.bylines {
  list-style: none;
}

.byline {
  display: flex;
  line-height: 1;
  font-size: var(--ms-0);
  @include bp(m) {
    align-items: center;
  }
}

.byline-name {
  @extend %caption-bold;
}

.byline-image {
  position: absolute !important;
  z-index: 500;
  width: 3rem;
  transform-origin: center;
  filter: drop-shadow(2px 2px 2px rgba(black, 0.2));

  @include bp(m) {
    position: static !important;
    width: auto;
    flex-shrink: 1;
    width: 2.75em;
    left: 0;
    margin-right: 0.75rem;
  }
}

.byline-institution {
  display: block;
  font-size: inherit;
}
