@import "vars";

.container {
  @extend %caption;
  display: flex;
  justify-content: space-between;
  margin: var(--padding);
  margin-top: 0;
  flex-flow: column;
  @include bp(s) {
    flex-flow: row;
  }
}

.nav {
  a {
    text-underline-offset: 0.15em;
    text-decoration-color: var(--gray);
    &:hover, &:focus-visible {
      text-decoration-color: var(--black);
    }
  }
  ul {
    display: flex;
    gap: 0.65em;
    list-style: none;
  }
}

.meta {
  padding-top: 0.25rem;
  font-size: var(--ms--1);
}
