@import "vars";

.container {
  @extend %caption;
  padding-top: var(--padding);
  margin: var(--padding);
  p {
    max-width: 40em;
    opacity: 0.75;
  }
}

.nav {
  margin-bottom: 0.25rem;
  ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
  }
}

.meta {
  padding-top: 0.5rem;
  font-size: var(--ms--2);
}
