@import "vars";

.container {
  position: fixed;
  padding: 0.4rem var(--padding);
  left: 0;
  right: 0;
  top: 0;
  font-family: var(--haas-text);
  font-weight: 400;
  z-index: 1000;
  text-align: center;
  transition: var(--fast);
  font-size: var(--ms-1);
  font-feature-settings: "tnum";
  pointer-events: none;
  border-bottom: 1px solid transparent;
  @include bp(m) {
    letter-spacing: 0.01em;
    font-size: var(--ms-1);
  }
}

.stuck {
  border-bottom: 1px solid black;
  background: white;
  pointer-events: all;
  .copy,
  .progress {
    opacity: 1;
    transform: translateY(0);
  }
}

.copy {
  display: flex;
  opacity: 0;
  transition: var(--fast);
  transform: translateY(30%);
  justify-content: flex-start;
  align-items: center;
  @include bp(m) {
    justify-content: space-between;
  }
}

.site-title {
  position: relative;
  font-size: 0;
  border-radius: 100%;
  padding: 0.2rem 0;
  padding-left: 0.3rem;
  &:hover,
  &:focus-visible {
    background: var(--gray-light);
  }
}
.face {
  z-index: 2000;
  left: 0;
  width: 1.6rem;
  margin-right: 1rem;
  filter: drop-shadow(2px 2px 1px rgba(black, 0.2));
  @include bp(m) {
    margin-right: 0;
    width: 1.75rem;
  }
}

.title {
  font-weight: 500;
  white-space: nowrap;
  font-size: var(--ms-0);
  @include bp(m) {
    font-size: var(--ms-1);
    transform: translateX(-50%);
    left: 50%;
    letter-spacing: 0;
    font-weight: 600;
    position: absolute;
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bookmarks-toggle {
  border-radius: var(--br);
  padding: 0em 0.4em;
  padding-bottom: 0.1em;
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  border: 1px solid transparent;
  cursor: pointer;
  background: var(--gray-light);
  &:hover,
  &:focus-visible {
    border: 1px solid var(--black);
  }
}

.bookmarks-container {
  position: absolute;
  border: 1px solid var(--black);
  background: white;
  top: 3rem;
  z-index: 100;
  right: 3rem;
  border-radius: var(--br);
  box-shadow: 0px 2px 4px -1px rgba(black, 0.2);
  &:before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
    right: 2.5rem;
    top: 0;
    background: white;
    border-left: 1px solid var(--black);
    border-top: 1px solid var(--black);
    transform: translateY(-50%) rotate(45deg);
  }
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: var(--fast);
}

.bookmarks-container-active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.pagination {
  font-family: var(--suisse);
  gap: 1rem;
  position: relative;
  top: -0.1em;
  font-weight: 400;
  display: none;
  margin-left: 0.5em;
  @include bp(m) {
    display: flex;
  }
}

.progress {
  background: rgb(255, 255, 255);
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  z-index: -100;
  transition: opacity var(--fast);
}
.progress-inner {
  background: black;
}
